$SourceCodeProFontPath: "../../fonts/source-code-pro";

@font-face{
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src:
    url("#{$SourceCodeProFontPath}/SourceCodePro-Regular.eot") format("embedded-opentype"),
    url("#{$SourceCodeProFontPath}/SourceCodePro-Regular.ttf.woff2") format("woff2"),
    url("#{$SourceCodeProFontPath}/SourceCodePro-Regular.otf.woff") format("woff"),
    url("#{$SourceCodeProFontPath}/SourceCodePro-Regular.otf") format("opentype"),
    url("#{$SourceCodeProFontPath}/SourceCodePro-Regular.ttf") format("truetype");
}
