// Default mixins and settings -----------------
@import "./node_modules/reveal.js/css/theme/template/mixins";
@import "./node_modules/reveal.js/css/theme/template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import "./node_modules/lato-font/scss/public-api.scss";
$lato-font-path: '../../fonts/lato';
$lato-variants: (
  //'hairline' : 100,
  //'thin'     : 200,
  //'light'    : 300,
  'normal'   : 400,
  //'medium'   : 400,
  //'semibold' : 500,
  //'bold'     : 600,
  'heavy'    : 800,
  //'black'    : 900
);
@include lato-render-variants($lato-variants);
$FontPath: '../../fonts/roboto-slab';
@import "./node_modules/roboto-slab-fontface-kit/sass/variables";
@import "./node_modules/roboto-slab-fontface-kit/sass/mixins";
@import "./node_modules/roboto-slab-fontface-kit/sass/Bold";
$SourceCodeProFontPath: "../fonts/source-code-pro";
@import "./src/source-code-pro";


// Override theme settings (see ./node_modules/reveal.js/template/settings.scss)
$mainFont: 'Lato', sans-serif;
$mainColor: #000;
$headingFont: 'Roboto Slab', sans-serif;
$headingColor: rgb(43, 178, 211);
$secondaryHeadingColor: rgb(232, 72, 106);
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: #fff;
$linkColor: $headingColor;
$linkColorHover: darken( $linkColor, 20% );
$selectionBackgroundColor: rgba(0, 0, 0, 0.99);
$mainFontSize: 38px;

$heading1Size: 3.77em / 2.1;
$heading2Size: 2.11em / 2.1;
$heading3Size: 1.55em / 2.1;
$heading4Size: 1.00em / 2.1;


// Theme template ------------------------------
@import "./node_modules/reveal.js/css/theme/template/theme";
// ---------------------------------------------

.reveal {
  code {
    font-family: 'Source Code Pro', monospace;
  }
  .slides {
    .title {
      h1 {
        font-size: $heading1Size * 1.1;
        margin-top: 20px;
        margin-bottom: 60px;
        color: $headingColor;
      }

      h1.smaller {
        font-size: $heading1Size;
      }

      small {
        font-family: $mainFont;
        font-size: $heading2Size * 1.5;
        color: $secondaryHeadingColor;
      }
    }

    h1, h2 {
      color: $secondaryHeadingColor;
      font-weight: 700;
      font-size: $heading1Size;
    }
    h3 {
      font-size: $heading2Size;
    }

    h4 {
      font-size: $heading3Size;
    }

    li > p {
      margin: 0;
    }

    img {
      border: none;
      box-shadow: none;
    }

    pre {
      box-shadow: none;
      font-size: 0.85em;

      code {
        background-color: transparent;
        color: black;
        overflow: inherit;
      }
    }

    .smallcode code {
      font-size: 0.7em;
      line-height: 1;
    }

    code:not(.hljs) {
      color: $secondaryHeadingColor;
    }

    blockquote {
      box-shadow: 0px 0px 4px $headingColor;
    }

    // Inspired from https://github.com/asciidoctor/asciidoctor/blob/983798766d026acc62b82820f0920cb5c469bbf8/data/stylesheets/asciidoctor-default.css
    .admonitionblock > table {
      border-collapse: separate;
      border: 0;
      background: none;
      width: 100%;
      font-size: $mainFontSize - 2px;
    }
    .admonitionblock td.content > .title {
      line-height: 1.45;
      color: #7a2518;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: .25em;
      text-rendering: optimizeLegibility;
      text-align: left;
      font-style: italic
    }
    .admonitionblock > table td.content {
      padding-left: 1.125em;
      padding-right: 1.25em;
      border-left: 1px solid #dddddf;
      color: rgba(0,0,0,.6);
    }
    .admonitionblock > table td.content > div:not(.title) {
      font-size: $mainFontSize - 10px;
    }
    .admonitionblock > table td.content > :last-child > :last-child {
      margin-bottom: 0;
    }
    .admonitionblock > table td.icon {
      text-align: center;
      vertical-align: middle;
      width: 80px;
    }
    .admonitionblock > table td.icon .title {
      font-weight: bold;
      text-transform: uppercase;
    }
    .admonitionblock td.icon [class^="fa icon-"] {
      font-size: 2.5em;
      text-shadow: 1px 1px 2px rgba(0,0,0,.5);
      cursor: default;
    }
    .admonitionblock td.icon .fa-info-circle {
      color: #19407c;
    }
    .admonitionblock td.icon .fa-lightbulb-o {
      text-shadow: 1px 1px 2px rgba(155,155,0,.8);
      color: #111;
    }
    .admonitionblock td.icon .fa-exclamation-circle {
      color: #bf0000;
    }
    .admonitionblock td.icon .fa-fire {
      color: #bf3400;
    }
    .admonitionblock td.icon .fa-warning {
      color: #bf6900;
    }

    .line-through {
      text-decoration: line-through;
    }

    .gray.background {
      background-color: #dddddd;
      .admonitionblock > table td.content {
        border-left: 1px solid #666;
      }
    }

    .green.background {
      background-color: #e6ffe6;
    }
  }

  .slide-number {
    font-size: 30px;
    background-color: transparent;
    color: $headingColor;
  }

  .controls {
    bottom: 45px;
  }
}
// Syntax highlight ----------------------------
@import "./node_modules/highlight.js/styles/tomorrow";
// ---------------------------------------------

.scala {
  & .hljs-type {
    color: #3e999f;
  }
  & .hljs-function {
    color: #000;
  }
}

.hljs-attr {
  @extend .hljs-name;
}

// Icons ----------------------------
$fa-font-path: "../../fonts/font-awesome";
@import "./node_modules/@fortawesome/fontawesome-free/scss/variables";
@import "./node_modules/@fortawesome/fontawesome-free/scss/mixins";
@import "./node_modules/@fortawesome/fontawesome-free/scss/core";
@import "./node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "./node_modules/@fortawesome/fontawesome-free/scss/regular";
// ---------------------------------------------

.#{$fa-css-prefix}-info-circle:before { content: fa-content($fa-var-info-circle); }

.#{$fa-css-prefix}.#{$fa-css-prefix}-lightbulb-o {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}
.#{$fa-css-prefix}.#{$fa-css-prefix}-lightbulb-o:before { content: fa-content($fa-var-lightbulb); }

.#{$fa-css-prefix}-exclamation-circle:before { content: fa-content($fa-var-exclamation-circle); }

.#{$fa-css-prefix}-fire:before { content: fa-content($fa-var-fire); }

.#{$fa-css-prefix}.#{$fa-css-prefix}-warning:before { content: fa-content($fa-var-exclamation-triangle); }
